.img-box {
  height: 100px;
  width: 300px;
  margin: auto;
}
.myMAinCont {
  margin-top: 100px;
  margin-left: 198px;
  background-color: #eef7f0;
  height: 600px;
  width: 100%;
}
.myCard {
  margin-left: 30px;
  margin-top: 100px;
  z-index: 0;
}
.img-box .img-file {
  width: 70px;
  height: 70px;
  margin: auto;
}

/*for the form*/
.card-body {
  margin-left: 20px;
}
.mycardheader {
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #daf4dd;
  color: #3d8361;
  font-weight: bold;
  letter-spacing: 1px;
}
label {
  color: #3d8361;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.myFormFloating {
  border-color: none;
}

.myFormGroup .myChooseFile:focus {
  box-shadow: none;
  border: 1px solid #3d8361;
}
.myFormGroup .myChooseFile .is-invalid {
  border: 2px solid red;
}
.myFormFloating .myselect {
  border: 0px;
  border: 1px solid #dcdde1;
}
.myFormFloating .myselect:focus {
  box-shadow: none;
  border: 1px solid#3d8361;
}

.myFormFloating .myinputText:focus {
  box-shadow: none;
  border: 1px solid #3d8361;
}

.myFormFloating .myinputTextArea {
  height: 120px;
}
.myFormFloating .myinputTextArea:focus {
  box-shadow: none;
  border: 1px solid #3d8361;
}

.myBtn {
  background-color: #b4e197;
  color: #3d8361;
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
  border: 2px solid #b4e197;
}
.myBtn:hover {
  background-color: white;
  color: #3d8361;
  font-weight: bold;
  border: 2px solid #3d8361;
}
#strMainError,
#strSubError,
#strSubError,
#strBrandError,
#strSupError,
#strPNameError,
#strPDescError,
#strPUnitError,
#strPUnitError,
#strQuaitError,
#strLightPDescError,
#strSoilPDescError,
#strWaterPDescError,
#strErr,
#strStaError,
#strPSellError {
  font-size: 12px;
  color: #c23616;
  margin-left: 10px;
}
