table{
    border: 2px solid #273c75;
    text-align: center;
}
table thead{
    background-color: #487eb0;
    color: white;
}
.label{
    color:#487eb0;
    letter-spacing: 1px;
    font-weight: 500;
}
.viewbtn{
    background-color: #487eb0;
    color: white;
    width: 50%;
    font-size: 17px; 
    border: 2px solid #487eb0;
}
.viewbtn:hover{
    background-color: white;
    color: #487eb0; 
    border: 2px solid #487eb0;   
}

.my-modal-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.my-modal-footer button {
    margin: 0 5px;
}

.mycardheader{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #487eb0;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;

}
.mysubcardheader{
    font-size: 17px;
    text-align: center;
    background-color: #487eb0;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;

}
.search-box .search-input{
    border-radius: 0px;
    border: 1px solid black;
    border-right: none;
}
.search-box .search-input:focus{
    border-color: none;
    box-shadow: none;
}
.search-box .search-btn{
    border-radius: 0px;
    border: 1px solid black;
    border-left: none;
    background-color: #686de0;
    color: white;
}
.search-box .search-btn:hover{
    background-color: #636e72;
    color: white;
    border: 2px solid black;
    border-left: none;
}
.myFormFloating .myselect{
    border : 0px;
    border : 1px solid #dcdde1;
}
.myFormFloating .myselect:focus{
    box-shadow: none;
    border : 1px solid #273c75;
}

.myBtn{
    width: 25%;
    font-size: 17px; 
}
.myBtn:hover{
    font-weight: bold;    
}
.my-modal-footer {
    display: flex;
    justify-content: center;
}

.confirmBtn{
    background-color: #20bf6b;
    color: white;
}
.confirmBtn:hover{
    background-color: white;
    color: #20bf6b;
    border: 2px solid #20bf6b;
}
.cancelBtn{
    background-color: #eb4d4b;
    color: white;
}
.cancelBtn:hover{
    background-color: white;
    color: #eb4d4b;
    border: 2px solid #eb4d4b;
}
.readybtn{
    background-color: #686de0;
    color: white;
}
.readybtn:hover{
    background-color: white;
    color: #686de0;
    border: 2px solid #686de0;
}
.dispatchbtn{
    background-color: #f0932b;
    color: white;
}
.dispatchbtn:hover{
    background-color: white;
    color: #f0932b;
    border: 2px solid #f0932b;
}

.swal2-container {
    z-index: 999999999 !important;
}